@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    scroll-behavior: smooth;
}

:root {
    --cor-princ: #ffd4d4;
    --cor-gray: #201c1c;
}

.bg-color-princ {
    background-color: var(--cor-princ);
}

.bg-my-gray {
    background-color: var(--cor-gray);
}

.text-color-princ {
    color: var(--cor-princ);
}

.text-my-gray {
    color: var(--cor-gray);
}

.texto-p {
    @apply text-xl font-thin text-white;
}

.btn {
    @apply text-lg font-bold px-6 py-1.5 rounded-3xl duration-150;
}

.btn.bg-my-gray-hover:hover {
    background-color: #3a3636;
}

.btn.bg-cor-princ-hover:hover {
    background-color: #fdeaea;
}

.titulo {
    @apply text-4xl text-white font-bold;
}

.headset-img {
    height: 550px;
}

.headset-div {
    width: 43%;
}

.btn.bg-white-hover:hover {
    background-color: #e6e6e6;
}